.box {
    background-color: white;
    padding-left: inherit;
    padding-right: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 240px;
}